body{margin: 0}
*
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}
nav, footer
{
    flex: 1 100%;
    background-color: rgb(49, 47, 47);
}

/*HEADER*/

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.logo {margin-left: 1rem;}

#navbar-links ul {display: flex;}

#navbar-links li {margin-right: 2rem;}

#navbar-links li a {
    display: block;
    padding: 1rem;
}
#navbar-links li:hover {
    background-color: #555;
}
#toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
}
#toggle-button .bar {
    height: 0.2rem;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
}


/*CONTENT*/

.listHeader
{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

#midwrapper
{
    display: flex;
    flex-wrap: wrap;
}

#mid1, #mid2, #mid3, #mid4
{
   box-sizing: border-box;
   border: 1px solid rgb(71, 60, 60);
   flex: 1 25%;
}
#mid1
{
    background-color:rgb(148, 55, 117);
    height: 76vh;
}
#mid2
{
    background-color:rgb(87, 60, 131);
    height: 76vh;
}
#mid3
{
    background-color:rgb(106, 160, 106);
    height: 76vh;
}
#mid4
{
    height: 76vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}
#browser
{
    display: flex;
    align-self: center;
    align-items: center;
}
#browser input{color: black;}

#icons4
{
 width: 11rem;
 display: flex;
 justify-content: space-around;
}
#calendar
{
    display: flex;
    background-color:rgb(49, 47, 47);
    width: 12rem;
    height: 11rem;
    border-collapse: collapse;
    text-align: center;
}
#mid4 table
{
    margin: auto;
}
#mid4 table tr:nth-of-type(1) td
{
   color:rgb(126, 101, 151);
}
#mid4 table tr:nth-child(n+2) td:nth-of-type(7)
{
   color:rgb(82, 151, 82);
}
input
{
    border-radius: 0.5rem; 
    width: 9rem;
}

/*FOOTER*/

footer
{
    height: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
}
#datosFooter
{
    align-items: center;
    margin-left: 3rem;
}

#datosFooter > p{margin: 0.2rem;}

#imgsFooter
{
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}
#imgsFooter img
{
    margin-right: 2rem;
}
footer img:first-child
{
    margin-left: 1rem;
}

#redes{display: none; cursor:pointer}

@media all and (max-width: 768px)
{
    #midwrapper
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    
    #midwrapper
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    #navbar-links {
        display: none;
        width: 100%;
    }
    footer img:first-child
    {
        margin-left: 0rem;
    }

    #toggle-button {display: flex;}
    #imgsFooter{display: none;}
    #redes{display: flex;}
    footer{justify-content: space-evenly;}
}
